@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonteP: Arial, Verdana, Helvetica, sans-serif;
    --fonte1: 'Passion one', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-family: var(--fonte1);
    font-variant: small-caps;
    font-size: 9vw;
}

header > p {
    font-family: var(--fonteP);
    font-size: 1.2vw;
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-size: 1.3vw;
    transition: 100ms;
}

section {
    font-family: var(--fonte2);
    font-size: 3vw;
    margin-top: 40px;
    padding-left: 80px;
    line-height: 2.5em;
}

.imagem {
    color: white;
    padding: 40px 0px 40px 40px;
    text-shadow: 1px 1px 0.5px black;
    background-attachment: fixed;
    background-size: cover;
}

.imagem > p {
    background-color: rgba(172, 172, 172, 0.068);
    width: 43vw;
    padding-left: 40px ;
}

#img1 {
    background-image: url(background001.jpg);
    background-position: center center;
}

#img2 {
    background-image: url(background002.jpg);
}

footer {
    background-color: black;
    font-family: var(--fonteP);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}